@media only screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-flow: wrap;
    height: 300px;
  }
  .parent {
    display: flex;
    height: 300px;
    flex-flow: wrap;
    justify-content: space-around;
  }
  #restaurants-list li {
    height: 100px;
    max-width: 12em;
    margin: auto;
    margin-bottom: 1.2em;
    padding-bottom: 1.8em;
    justify-content: space-around;
  }
  /* .child {
    min-width: 100px;
    width: 300px;
    height: 100px;
    margin: auto;
  } */
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  li {
    margin: auto;
  }
  #restaurants-list li {
    height: 100px;
    margin: auto;
    max-width: 27em;
    padding-bottom: 10em;
    margin-bottom: 1em;
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 1.5em;
    min-height: 380px;
    padding: 12px 10px 45px;
    text-align: left;
    max-width: 16em;
    justify-content: space-around;
  }
  #breadcrumb {
    padding: 16px 16px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    line-height: 1.25em;
    /* margin: 0; */
  }
}

@media only screen and (min-width: 1201) and (max-width: 2400px) {
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 1.5em;
    min-height: 380px;
    padding: 10px 10px 5px;
    text-align: left;
    max-width: 16em;
  }
}