@media only screen and (min-width: 300px) and (max-width: 600px) {
  #restaurants-list li {
    margin: auto;
    margin-bottom: 1.2em;
    padding-bottom: 1.8em;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  figcaption {
    margin: 0px;
  }
  #restaurants-list li {
    height: 100px;
    padding-bottom: 10em;
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 1.5em;
    min-height: 380px;
    padding: 12px 10px 90px;
    /* padding: auto; */
    text-align: left;
    max-width: 16em;
    justify-content: space-around;
  }
  #breadcrumb {
    padding: 16px 16px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    line-height: 1.25em;
    /* margin: 0; */
  }
  #restaurants-list>li>figure>picture>img {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .figcaption {
    margin: 0;
  }
}

@media only screen and (min-width: 1201) and (max-width: 2400px) {
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 1.5em;
    min-height: 380px;
    padding: 10px 10px 5px;
    text-align: left;
    /* max-width: 16em; */
    max-width: 14em;
  }
}